.container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  background-color: var(--color-accent);
}

.innerContainer {
  background-color: var(--color-bg-inner);
  padding: 2rem;
  border-radius: 20px;
  width: 300px;
}
